{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}


{#
GOAL: make a basic presskit page like http://dopresskit.com
TODO:
1.Add Header Image
2. Add Sidebar links (these are better than the standard shell header for a page like this
#}


{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}

{% block script %}
    {{ parent() }}

    {# <script type="text/javascript" src="{{ asset('bundles/sitetheorytemplatecustom/js/landing.js') }}"></script> #}
    {# This script is in the HTML now (instead of landing.js) just to be sure that it loads (and isn't delayed) #}
    {# TODO: make this native JS without JQuery #}
    <script>
        // Use Require.js or Contextual Scope
        (function (root, factory) {
            if (typeof require === 'function') {
                require(['stratus', 'jquery', 'underscore', 'backbone'], factory);
            } else {
                factory(root.Stratus, root.$, root._, root.Backbone);
            }
        }(this, function (Stratus, $, _, Backbone) {
            Stratus.DOM.ready(function () {




                /**
                 * Track Events
                 */
                function trackEvent(el) {
                    var trackCategory = el.dataAttr('trackCategory') || 'unknown';
                    var trackAction = el.dataAttr('trackAction') || null;
                    var trackLabel = el.dataAttr('trackLabel') || null;
                    ga('send', 'event', trackCategory, trackAction, trackLabel);
                }

                // Track all registered elements
                $.each($('[data-trackCategory]'), function (i, el) {
                    $(el).click(function (event) {
                        trackEvent($(event.target));
                    });
                });


                /**
                 * REGISTRATION
                 */
                var formClass = 'registrationForm';
                var $forms = $('.'+formClass+' form');

                /**
                 * Record Geolocation in Registration
                 */
                var setLat = function() {
                    if (Stratus.Environment.has('lat')) {
                        $forms.find('input[name="lat"]').each(function (i, el) {
                            $(el).val(Stratus.Environment.get('lat'));
                        });
                    }
                };
                var setLng = function() {
                    if (Stratus.Environment.has('lng')) {
                        $forms.find('input[name="lng"]').each(function (i, el) {
                            $(el).val(Stratus.Environment.get('lng'));
                        });
                    }
                };
                var setTimezone = function() {
                    if (Stratus.Environment.has('timezone')) {
                        $forms.find('input[name="timezone"]').each(function (i, el) {
                            $(el).val(Stratus.Environment.get('timezone'));
                        });
                    }
                };
                var setPostalCode = function() {
                    if (Stratus.Environment.has('postalCode')) {
                        $forms.find('input[name="zip"]').each(function (i, el) {
                            $(el).val(Stratus.Environment.get('postalCode'));
                            $(el).parent().hide();
                        });
                    }
                };
                Stratus.Environment.on('change:lat', setLat); setLat();
                Stratus.Environment.on('change:lng', setLng); setLng();
                Stratus.Environment.on('change:timezone', setTimezone); setTimezone();
                Stratus.Environment.on('change:postalCode', setPostalCode); setPostalCode();


                // Support Multiple Forms inside an element of this class name
                if ( $forms.length > 0 ) {
                    $forms.each(function(i, el) {
                        // If Javascript is Working...
                        // Hide Error Saying JS isn't working
                        $(el).find('.formLoadingError').hide();
                        // Enable Form
                        $(el).find('.formFields').attr('disabled', false);
                        $(el).find('.formFields').show();
                        // Enable Form Submit Button
                        $(el).find('button').attr('disabled', false);
                        $(el).submit(function (event) {
                            if (event) event.preventDefault();
                            if (validate_input($(el))) {
                                send($(el));
                            }
                        });
                    });
                }

                function send($form) {

                    // Add Loading Status
                    var btnSubmit = $form.find('.signupAction .btnText');
                    if(!btnSubmit.dataAttr('text')) btnSubmit.dataAttr('text', btnSubmit.text());
                    toggleSubmitButton(btnSubmit, 'off')


                    var payload = makePayload($form);
                    var meta = {
                        'method': 'new'
                    };
                    Stratus.Internals.Api('User', meta, payload).then(function (response) {
                        var success = false;
                        var statusMessage = [];
                        $.each(response.meta.status, function(i, el) {
                            if(el.code === 'SUCCESS') success = true;
                            statusMessage.push(el.message);
                        });
                        if (!success) {
                            errorResult($form, 'Oops, there was a problem ;( <br><br>'+statusMessage.join('<br><br>'));
                        } else {
                            $form.hide();
                            $.each($form.parent().find('.success_message'), function (i, el) {
                                $(el).removeClass('hide');
                            });
                        }
                        toggleSubmitButton(btnSubmit, 'on')
                    }, function () {
                        errorResult($form);
                        toggleSubmitButton(btnSubmit, 'on')
                    });

                }

                function toggleSubmitButton(btnSubmit, status) {
                    if(status == 'off') {
                        btnSubmit.addClass('form-status-sending');
                        btnSubmit.text('Sending...');
                        btnSubmit.prop('disabled', true);
                    } else {
                        btnSubmit.removeClass('form-status-sending');
                        btnSubmit.text(btnSubmit.dataAttr('text'));
                        btnSubmit.prop('disabled', true);
                    }
                }

                function errorResult($form, message) {
                    if(!message) {
                        message = 'Oops, there was a problem ;(';
                    }
                    $form.prepend('<div class="form-error">'+message+' <br><br>Email us at <a href="mailto:help@launchapp.io">help@launchapp.io</a> and we will add you manually.</div>');
                    ga('send', 'event', 'error', 'form', $form.find('input[name="email"]').val());
                }


                function validate_email(email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }

                function validate_input($form) {
                    var inputs = $form.find('.form-control');
                    // remove all errors
                    var errors = $form.find('.form-error');
                    errors.remove();
                    var results = true;
                    $.each(inputs, function(i, el) {
                        $(el).removeClass('is-error');
                        if($(el).hasClass('required')) {
                            var elError = null;
                            if(!$(el).val()) {
                                elError = 'Please provide a valid value.';
                            }
                            if($(el).attr('name')=='email') {
                                var emailValid = validate_email($(el).val());
                                if(!emailValid) {
                                    elError = 'Please provide a valid email address.';
                                }
                            }
                            if(elError) {
                                results = false;
                                $(el).addClass('is-error');
                                $(el).before('<div class="form-error">'+elError+'</div>');
                            }
                        }
                    });
                    return results;
                }

                // Customize Payload for this unique form
                function makePayload($form) {
                    var dataObject = $form.serializeArray();
                    var data = {};
                    $.each(dataObject, function(i, el) {
                        data[el.name] = el.value;
                    });
                    var payload = {
                        'email': data.email,
                        'profile': {
                            'gender': data.gender,
                            'relationshipStatus': data.relationshipStatus,
                            'zip': data.zip,
                            'ageGroup': data.ageGroup,
                            'lat': data.lat,
                            'lng': data.lng,
                            'timezone': data.timezone,
                            'mailLists': [parseInt(data.listId)]
                        }
                    };
                    return payload;
                }

            });
        }));



    </script>

{% endblock script %}


{# TODO: This is just here temporarily until the base.html.twig give the ability to select the preferred image in the admin #}
{# we may need to reload the page here in order to get the new image https://developers.facebook.com/tools/debug/ #}
{#
{% block meta %}
    {{ parent() }}
    <meta property="og:url" content="https://www.launchapp.io/Press">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.launchapp.io/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/app/LaunchAppPreview.jpg">
    <meta property="og:title" content="Press Kit | Launch">
    <meta property="og:description" content="Online dating kinda sucks. learn how Launch is different and why people should care.">
{% endblock meta %}
#}


{% block bodyAttributes %}
    {{ parent() }}
    data-spy="scroll" data-target="#navMainContainer" data-offset="100"
{% endblock bodyAttributes %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{% set bootstrapColumnSidebar = 'hide-gt-xs' %}
{% set bootstrapColumnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}




{# Put Beta Signup in Sidebar #}
{% block sidebarExtrasTop %}
    {% block betaButton %}
        <div class="btn betaSignupBtn"  data-plugin="AddClass Dim" data-class="active" data-target="#betaPopup" data-event="click" data-trackCategory="CTA" data-trackLabel="beta" data-trackValue="top">
            Beta Signup
        </div>
    {% endblock betaButton %}

    <div class="borderDashed">
        {% block mainNavigation %}
            {#
            <div id="navMainContainer" class="navMainContainer">
                <ul class="nav list-inline fontPrimary">
                    <li class="navMainLink">
                        <a href="#sectionAbout">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Is Launch?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionDifferent">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Makes Launch Different?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionResources">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            Download Resources
                        </a>
                    </li>
                </ul>
            </div>
            #}
        {% endblock mainNavigation %}
    </div>
{% endblock sidebarExtrasTop %}



{% block navSection %}
{% endblock navSection %}

{% block sectionName %}
{% endblock sectionName %}



{# Hide footer site map #}
{% block footerSiteMap %}
{% endblock footerSiteMap %}

{# Hide footer #}
{% block viewFooter %}
{% endblock viewFooter %}


{# SHARE BUTTONS #}
{% set shareClick = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=400');return false;" %}
{% set shareUrl="https://www.launchapp.io" %}
{% set shareMessage="Together%2C%20we%20can%20change%20dating.%20I%E2%80%99m%20in.%20Are%20you%3F" %}
{% block shareButtons %}
    <div id="sharingIsCaring">
        <h4>Sharing is Caring!</h4>
        <ul class="list-inline">
            <li><a class="btn shareFacebook shareIcons" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}useFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li>
                <a class="btn shareTwitter shareIcons" href="http://twitter.com/intent/tweet?via=launchdating&text={{ shareMessage }}%20{{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}useTwitterIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock shareButtons %}


{% block header1 %}
    <div id="header1" class="clearfix">
        <div class="clearfix">
            {{ block('betaButton') }}
            <div id="logoHeader" class="pull-left">
                <a href="/">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoHeader.png') }}" alt="">
                </a>
            </div>
            {{ block('mainNavigation') }}
        </div>
    </div>
{% endblock header1 %}


{# TODO: this is not showing up at the moment. We are using a footer above #}
{#
{% block siteContact %}
    <div class="{% block siteContactLabel %}siteContact{% endblock siteContactLabel %}">

        {% block footerSiteName %}
            Launch Social Inc.
        {% endblock footerSiteName %}

        {% block sitePhone %}
            <span class="phone"><a href="tel://925-330-9447">925-330-9447</a></span>
        {% endblock sitePhone %}

        {% block siteEmail %}
            <span class="email"><a href="mailto:hello@launchapp.io">hello@launchapp.io</a></span>
        {% endblock siteEmail %}

        {% block siteStreet %}
            <span class="address">1330 N. Broadway 200H</span>
        {% endblock siteStreet %}

        {% block siteCityStateZip %}
            <span class="city">Walnut Creek, CA 94596</span>
        {% endblock siteCityStateZip %}

        {% block siteCountry %}
            <span class="country">United States</span>
        {% endblock siteCountry %}

    </div>
{% endblock siteContact %}
#}
{% block socialMedia %}
    <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
        <ul class="list-inline">
            <li class="facebook">
                <a href="https://www.facebook.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                </a></li>
            <li class="instagram">
                <a href="https://www.instagram.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/instagram.svg' %}{% block id %}footerInstagramIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock socialMedia %}

{% block registrationForm %}
    <div class="registrationForm">
        <form>
            <div class="logo">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoMark.png') }}" alt="">
            </div>
            <h2 class="signupTitle">{{ signupTitle|default("Notification Signup") }}</h2>
            <div class="formLoadingError">
                <h3 class="">Loading Error ;(</h3>
                <p>There was an error that prevented our form from loading. Please refresh the page, or email hello@launchapp.io so we can manually add you to the list.</p>
            </div>
            {# Fields are disabled by default UNLESS javascript enables them #}
            <fieldset class="formFields" disabled>
                <input type="hidden" name="listId" value="{{ signupListId }}">
                <input type="hidden" name="lat" value="{{ environment.lat }}">
                <input type="hidden" name="lng" value="{{ environment.lng }}">
                <input type="hidden" name="timezone" value="{{ environment.timezone }}">
                <p class="note fontBody">{{ signupText|default("We'll let you know when it's ready!") }}</p>

                <div class="form-group">
                    <input type="email" value="" name="email" class="required email form-control smallLabel fontPrimary" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <input type="text" value="" name="zip" class="required email form-control smallLabel fontPrimary" maxlength="10" placeholder="Postal Code">
                </div>

                <div class="form-group">
                    <select name="relationshipStatus" class="required form-control smallLabel fontPrimary">
                        <option value="">Status</option>
                        <option value="1">Single</option>
                        <option value="2">Partnered (matchmaker)</option>
                    </select>
                </div>

                <h4>Optional (and Helpful!)</h4>

                <div class="form-group">
                    <select name="gender" class="form-control smallLabel fontPrimary">
                        <option value="">Gender</option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                        <option value="0">Unlisted</option>

                    </select>
                </div>
                <div class="form-group">
                    <select name="ageGroup" class="form-control smallLabel fontPrimary">
                        <option value="">Age Group</option>
                        <option value="1">High School</option>
                        <option value="2">College</option>
                        <option value="3">Under 30</option>
                        <option value="4">30-39</option>
                        <option value="5">40-49</option>
                        <option value="6">50-59</option>
                        <option value="7">60+</option>
                    </select>
                </div>

                <div class="signupAction">
                    <button type="submit" class="submit btn fontPrimary bold btn positionAnchor" disabled>
                        <span class="btnGradient"></span>
                        <span class="btnText" data-trackCategory="CTA" data-trackAction="signup" data-trackLabel="{{ signupId }}">Sign Up</span>
                    </button>
                </div>

                <p class="disclaimer">By submitting this form, you are granting: Launch Social Inc., 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, permission to email you. You may unsubscribe via the link found at the bottom of every email.</p>
            </fieldset>
        </form>

        <div id="{{ signupId }}success_message" class="success_message hide">
            <h2 class="success_message_thanks">Thanks</h2>
            <div class="success_message_details note fontSecondary">{{ signupSuccess }}</div>
            <div class="success_message_sharing">
                {{ block('shareButtons') }}
            </div>
        </div>
    </div>
{% endblock registrationForm %}


{% block popup %}
    {% block betaSignup %}

        {% set signupId = 'beta' %}
        {% set signupTitle = 'Beta Signup' %}
        {% set signupText = "We'll let you know when it's ready!" %}
        {% set signupSuccess = "You rock! We'll let you know when the app is ready." %}
        {% set signupListId = '1' %}
        <div id="{{ signupId }}Popup" class="popup">
            <div id="{{ signupId }}PopupContent" class="popupContent springIn borderRadiusDefault">
                <div id="{{ signupId }}PopupClose" class="popupClose btnClose" data-plugin="AddClass Dim" data-class="active" data-target="#{{ signupId }}Popup" data-event="click">
                    <span class="sr-only">Close</span>
                    {% embed '@SitetheoryTemplatePromoBundle/Resources/public/images/icons/close.svg'%}{%  block id  %}iconClose{% endblock %}{% endembed %}
                </div>

                {{ block('registrationForm') }}

            </div>
        </div>

    {% endblock betaSignup %}


{% endblock popup %}






