{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}


{#
GOAL: make a basic presskit page like http://dopresskit.com
TODO:
1.Add Header Image
2. Add Sidebar links (these are better than the standard shell header for a page like this
#}


{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
{% endblock link %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitetheorytemplatecustom/js/landing.js') }}"></script>
{% endblock script %}


{# TODO: This is just here temporarily until the base.html.twig give the ability to select the preferred image in the admin #}
{# we may need to reload the page here in order to get the new image https://developers.facebook.com/tools/debug/ #}
{#
{% block meta %}
    {{ parent() }}
    <meta property="og:url" content="https://www.launchapp.io/Press">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.launchapp.io/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/app/LaunchAppPreview.jpg">
    <meta property="og:title" content="Press Kit | Launch">
    <meta property="og:description" content="Online dating kinda sucks. learn how Launch is different and why people should care.">
{% endblock meta %}
#}


{% block bodyAttributes %}
    {{ parent() }}
    data-spy="scroll" data-target="#navMainContainer" data-offset="100"
{% endblock bodyAttributes %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{% set bootstrapColumnSidebar = 'hide-gt-xs' %}
{% set bootstrapColumnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}




{# Put Beta Signup in Sidebar #}
{% block sidebarExtrasTop %}
    {% block betaButton %}
        <div class="btn betaSignupBtn"  data-plugin="AddClass Dim" data-class="active" data-target="#betaPopup" data-event="click" data-trackCategory="CTA" data-trackLabel="beta" data-trackValue="top">
            Beta Signup
        </div>
    {% endblock betaButton %}

    <div class="borderDashed">
        {% block mainNavigation %}
            {#
            <div id="navMainContainer" class="navMainContainer">
                <ul class="nav list-inline fontPrimary">
                    <li class="navMainLink">
                        <a href="#sectionAbout">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Is Launch?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionDifferent">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Makes Launch Different?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionResources">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            Download Resources
                        </a>
                    </li>
                </ul>
            </div>
            #}
        {% endblock mainNavigation %}
    </div>
{% endblock sidebarExtrasTop %}



{% block navSection %}
{% endblock navSection %}

{% block sectionName %}
{% endblock sectionName %}



{# Hide footer site map #}
{% block footerSiteMap %}
{% endblock footerSiteMap %}

{# Hide footer #}
{% block viewFooter %}
{% endblock viewFooter %}


{# SHARE BUTTONS #}
{% set shareClick = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=400');return false;" %}
{% set shareUrl="https://www.launchapp.io" %}
{% set shareMessage="Together%2C%20we%20can%20change%20dating.%20I%E2%80%99m%20in.%20Are%20you%3F" %}
{% block shareButtons %}
    <div id="sharingIsCaring">
        <h4>Sharing is Caring!</h4>
        <ul class="list-inline">
            <li><a class="btn shareFacebook shareIcons" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}useFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li>
                <a class="btn shareTwitter shareIcons" href="http://twitter.com/intent/tweet?via=launchdating&text={{ shareMessage }}%20{{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}useTwitterIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock shareButtons %}


{% block header1 %}
    <div id="header1" class="clearfix">
        <div class="clearfix">
            {{ block('betaButton') }}
            <div id="logoHeader" class="pull-left">
                <a href="/">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoHeader.png') }}" alt="">
                </a>
            </div>
            {{ block('mainNavigation') }}
        </div>
    </div>
{% endblock header1 %}


{# TODO: this is not showing up at the moment. We are using a footer above #}
{#
{% block siteContact %}
    <div class="{% block siteContactLabel %}siteContact{% endblock siteContactLabel %}">

        {% block footerSiteName %}
            Launch Social Inc.
        {% endblock footerSiteName %}

        {% block sitePhone %}
            <span class="phone"><a href="tel://925-330-9447">925-330-9447</a></span>
        {% endblock sitePhone %}

        {% block siteEmail %}
            <span class="email"><a href="mailto:hello@launchapp.io">hello@launchapp.io</a></span>
        {% endblock siteEmail %}

        {% block siteStreet %}
            <span class="address">1330 N. Broadway 200H</span>
        {% endblock siteStreet %}

        {% block siteCityStateZip %}
            <span class="city">Walnut Creek, CA 94596</span>
        {% endblock siteCityStateZip %}

        {% block siteCountry %}
            <span class="country">United States</span>
        {% endblock siteCountry %}

    </div>
{% endblock siteContact %}
#}

{#
{% block socialMedia %}
    <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
        <ul class="list-inline">
            <li class="facebook">
                <a href="https://www.facebook.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                </a></li>
            <li class="instagram">
                <a href="https://www.instagram.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/instagram.svg' %}{% block id %}footerInstagramIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock socialMedia %}
#}



{# REUSABLE FORM BLOCK #}
{% block mailChimpSignup %}
    <div class="mailChimpSignup">
        <form data-user="{{ signupUser }}" data-id="{{ signupListId }}">
            <div class="logo">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoMark.png') }}" alt="">
            </div>
            <h2 class="signupTitle">{{ signupTitle|default("Notification Signup") }}</h2>
            <p class="note fontBody">{{ signupText|default("We'll let you know when it's ready!") }}</p>

            <div class="form-group">
                <input type="email" value="" name="EMAIL" class="required email form-control smallLabel fontPrimary" id="mce-EMAIL" placeholder="Email Address">
            </div>

            <div class="form-group">
                <input type="text" value="" name="ZIP" class="required email form-control smallLabel fontPrimary registerZip" id="mce-ZIP" maxlength="10" placeholder="Postal Code" data-ip="{{ environment.ip }}">
            </div>

            <div class="form-group">
                <select name="STATUS" class="required form-control smallLabel fontPrimary" id="mce-STATUS">
                    <option value="">Status</option>
                    <option value="Single">Single</option>
                    <option value="Taken (matchmaker)">Taken (matchmaker)</option>
                </select>
            </div>

            <h4>Optional (and Helpful!)</h4>

            <div class="form-group">
                <select name="GENDER" class="form-control smallLabel fontPrimary" id="mce-GENDER">
                    <option value="">Gender</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Unlisted">Unlisted</option>

                </select>
            </div>
            <div class="form-group">
                <select name="AGE" class="form-control smallLabel fontPrimary" id="mce-AGE">
                    <option value="">Age Group</option>
                    <option value="High School">High School</option>
                    <option value="College">College</option>
                    <option value="Under 30">Under 30</option>
                    <option value="30-39">30-39</option>
                    <option value="40-49">40-49</option>
                    <option value="50-59">50-59</option>
                    <option value="60+">60+</option>
                </select>
            </div>

            <div class="signupAction">
                <button type="submit" class="submit btn fontPrimary bold btn positionAnchor" data-enabled="enabled">
                    <span class="btnGradient"></span>
                    <span class="btnText" data-trackCategory="CTA" data-trackLabel="signup" data-trackValue="{{ signupId }}">Sign Up</span>
                </button>
            </div>

            <p class="disclaimer">By submitting this form, you are granting: Launch Social Inc., 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, permission to email you. You may unsubscribe via the link found at the bottom of every email.</p>
        </form>

        <div id="{{ signupId }}success_message" class="success_message hide">
            <h2 class="success_message_thanks">Thanks</h2>
            <div class="success_message_details note fontSecondary">You rock! We'll let you know when the Kickstarter campaign is live.<br><br>Check your email to confirm and complete signup.</div>
            <div class="success_message_sharing">
                {{ block('shareButtons') }}
            </div>
        </div>
    </div>
{% endblock mailChimpSignup %}


{% block popup %}
    {% block betaSignup %}

        {% set signupId = 'beta' %}
        {% set signupTitle = 'Beta Signup' %}
        {% set signupText = "We'll let you know when it's ready!" %}
        {% set signupUser = 'e69bdbd4c8c87ace94b1d5259' %}
        {% set signupListId = '9fb53f81a4' %}
        <div id="{{ signupId }}Popup" class="popup">
            <div id="{{ signupId }}PopupContent" class="popupContent springIn borderRadiusDefault">
                <div id="{{ signupId }}PopupClose" class="popupClose btnClose" data-plugin="AddClass Dim" data-class="active" data-target="#{{ signupId }}Popup" data-event="click">
                    <span class="sr-only">Close</span>
                    {% embed '@SitetheoryTemplatePromoBundle/Resources/public/images/icons/close.svg'%}{%  block id  %}iconClose{% endblock %}{% endembed %}
                </div>

                {{ block('mailChimpSignup') }}

            </div>
        </div>

    {% endblock betaSignup %}


{% endblock popup %}






