{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}


{#
GOAL: make a basic presskit page like http://dopresskit.com
TODO:
1.Add Header Image
2. Add Sidebar links (these are better than the standard shell header for a page like this
#}


{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/press.css') }}">
{% endblock link %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitetheorytemplatecustom/js/landing.js') }}"></script>
{% endblock script %}


{# TODO: This is just here temporarily until the base.html.twig give the ability to select the preferred image in the admin #}
{# we may need to reload the page here in order to get the new image https://developers.facebook.com/tools/debug/ #}
{#
{% block meta %}
    {{ parent() }}
    <meta property="og:url" content="https://www.launchapp.io/Press">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.launchapp.io/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/app/LaunchAppPreview.jpg">
    <meta property="og:title" content="Press Kit | Launch">
    <meta property="og:description" content="Online dating kinda sucks. learn how Launch is different and why people should care.">
{% endblock meta %}
#}


{% block bodyAttributes %}
    {{ parent() }}
    data-spy="scroll" data-target="#navMainContainer" data-offset="100"
{% endblock bodyAttributes %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{# Hide sidebar on desktop #}
{% set bootstrapColumnSidebar = 'visible-xs visible-sm' %}

{# Sidebar is hidden on desktop so main column is full width #}
{% set bootstrapColumnMain = 'noGridSettings' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}




{# Put Beta Signup in Sidebar #}
{% block sidebarExtrasTop %}
    {% block betaButton %}
        <div class="btn betaSignupBtn"  data-plugin="AddClass Dim" data-class="active" data-target="#betaSignup" data-event="click" data-trackCategory="CTA" data-trackLabel="beta" data-trackValue="top">
            Beta Signup
        </div>
    {% endblock betaButton %}

    <div class="borderDashed">
        {% block mainNavigation %}
            {#
            <div id="navMainContainer" class="navMainContainer">
                <ul class="nav list-inline fontPrimary">
                    <li class="navMainLink">
                        <a href="#sectionAbout">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Is Launch?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionDifferent">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            What Makes Launch Different?
                        </a>
                    </li>
                    <li class="navMainLink">
                        <a href="#sectionResources">
                            <div class="linkOrnament"></div>
                            <div class="linkUnderline"></div>
                            Download Resources
                        </a>
                    </li>
                </ul>
            </div>
            #}
        {% endblock mainNavigation %}
    </div>
{% endblock sidebarExtrasTop %}



{% block navSection %}
{% endblock navSection %}

{% block sectionName %}
{% endblock sectionName %}



{# Hide footer site map #}
{% block footerSiteMap %}
{% endblock footerSiteMap %}

{# Hide footer #}
{% block viewFooter %}
{% endblock viewFooter %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set headerStructure = 'emptyAll' %}
{% set headerRetractingStructure = 'emptyAll' %}
{% set shellContentStructure = 'emptyAll' %}


{# SHARE BUTTONS #}
{% set shareClick = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=400');return false;" %}
{% set shareUrl="https://www.launchapp.io" %}
{% set shareMessage="Together%2C%20we%20can%20change%20dating.%20I%E2%80%99m%20in.%20Are%20you%3F" %}
{% block shareButtons %}
    <div id="sharingIsCaring">
        <h4>Sharing is Caring!</h4>
        <ul class="list-inline">
            <li><a class="btn shareFacebook shareIcons" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}useFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li>
                <a class="btn shareTwitter shareIcons" href="http://twitter.com/intent/tweet?via=launchdating&text={{ shareMessage }}%20{{ shareUrl }}" onclick="{{ shareClick }}">
                    <div class="btnGradientLight"></div>
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}useTwitterIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock shareButtons %}


{% block header1 %}
    <div id="header1" class="clearfix">
        <div class="clearfix">
            {{ block('betaButton') }}
            <div id="logoHeader" class="pull-left">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoHeader.png') }}" alt="">
            </div>
            {{ block('mainNavigation') }}
        </div>
    </div>
{% endblock header1 %}


{# TODO: this is not showing up at the moment. We are using a footer above #}
{#
{% block siteContact %}
    <div class="{% block siteContactLabel %}siteContact{% endblock siteContactLabel %}">

        {% block footerSiteName %}
            Launch Social Inc.
        {% endblock footerSiteName %}

        {% block sitePhone %}
            <span class="phone"><a href="tel://925-330-9447">925-330-9447</a></span>
        {% endblock sitePhone %}

        {% block siteEmail %}
            <span class="email"><a href="mailto:hello@launchapp.io">hello@launchapp.io</a></span>
        {% endblock siteEmail %}

        {% block siteStreet %}
            <span class="address">1330 N. Broadway 200H</span>
        {% endblock siteStreet %}

        {% block siteCityStateZip %}
            <span class="city">Walnut Creek, CA 94596</span>
        {% endblock siteCityStateZip %}

        {% block siteCountry %}
            <span class="country">United States</span>
        {% endblock siteCountry %}

    </div>
{% endblock siteContact %}
#}

{#
{% block socialMedia %}
    <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
        <ul class="list-inline">
            <li class="facebook">
                <a href="https://www.facebook.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                </a></li>
            <li class="instagram">
                <a href="https://www.instagram.com/launchdating" target="_blank">
                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/instagram.svg' %}{% block id %}footerInstagramIcon{% endblock %}{% endembed %}
                </a>
            </li>
        </ul>
    </div>
{% endblock socialMedia %}
#}




{% block popup %}
    {% block betaSignup %}

        {% set signupId = 'beta' %}
        {% set signupFormId = 'd0d690e0-feb2-4923-9f8c-661ca4e37707' %}
        {% set signupListId = '1924932799' %}
        <div id="{{ signupId }}Signup" class="popup">
            <div id="{{ signupId }}SignupContent" class="popupContent springIn borderRadiusDefault ctct-embed-signup">
                <div id="{{ signupId }}SignupClose" class="popupClose btnClose" data-plugin="AddClass Dim" data-class="active" data-target="#{{ signupId }}Signup" data-event="click">
                    <span class="sr-only">Close</span>
                    {% embed '@SitetheoryTemplatePromoBundle/Resources/public/images/icons/close.svg'%}{%  block id  %}iconClose{% endblock %}{% endembed %}
                </div>

                <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                    <div class="logo">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoMark.png') }}" alt="">
                    </div>
                    <h2 class="signupTitle">Beta Signup</h2>
                    <p class="note fontPrimary">We'll let you know when it's ready!</p>
                    <!-- The following code must be included to ensure your sign-up form works properly. -->
                    <input data-id="ca:input" type="hidden" name="ca" value="{{ signupFormId }}">
                    <input data-id="list:input" type="hidden" name="list" value="{{ signupListId }}">
                    <input data-id="source:input" type="hidden" name="source" value="EFD">
                    <input data-id="required:input" type="hidden" name="required" value="list,email">
                    <input data-id="required:input" type="hidden" name="required" value="list,email,cf_text--3,cf_text--2">
                    <input data-id="url:input" type="hidden" name="url" value="">

                    <div class="form-group" data-id="Email Address:p">
                        <label data-id="Email Address:label" data-name="email" class="ctct-form-required"></label>
                        <input class="form-control smallLabel fontPrimary required" data-id="Email Address:input" type="text" name="email" value="" maxlength="80" placeholder="Email Address">
                    </div>

                    <div class="form-group" data-id="Zip:p">
                        <label data-id="Zip:label" data-name="cf_text_value--3" class="ctct-form-required"></label>
                        <input id="{{ signupId }}RegisterZip" class="registerZip form-control smallLabel fontPrimary required" data-id="Zip_value:input" type="text" name="cf_text_value--3" value="" maxlength="10" placeholder="Postal Code" data-ip="{{ environment.ip }}">
                        <input data-id="Zip_name:input" type="hidden" name="cf_text_name--3" value="zip">
                        <input data-id="Zip_label:input" type="hidden" name="cf_text_label--3" value="Zip">
                    </div>

                    <div class="form-group" data-id="Relationship Status:p">
                        <label data-id="Relationship Status:label" data-name="cf_text_value--2" class="ctct-form-required"></label>
                        <input id="{{ signupId }}_custom_status_value" class="hide form-control smallLabel fontPrimary required" data-id="Relationship Status_value:input" name="cf_text_value--2" type="text" value="" maxlength="10" placeholder="Relationship Status">
                        <select  id="{{ signupId }}_custom_status" class="form-control smallLabel fontPrimary required registerCustom">
                            <option>Status</option>
                            <option value="1">Single</option>
                            <option value="2">Taken (matchmaker)</option>
                        </select>
                        <input data-id="Relationship Status_name:input" type="hidden" name="cf_text_name--2" value="relationship_status">
                        <input data-id="Relationship Status_label:input" type="hidden" name="cf_text_label--2" value="Relationship Status">
                    </div>

                    <h4>Optional (and Helpful!)</h4>
                    <div class="form-group" data-id="Gender:p">
                        <label data-id="Gender:label" data-name="cf_text_value--1"></label>
                        <input id="custom_gender_value" class="hide form-control smallLabel fontPrimary required" data-id="Gender_value:input" name="cf_text_value--1" type="text" value="" maxlength="10" placeholder="Gender">
                        <select id="custom_gender" class="form-control smallLabel fontPrimary registerCustom">
                            <option>Gender</option>
                            <option value="1">Female</option>
                            <option value="2">Male</option>
                            <option value="0">Unlisted</option>
                        </select>
                        <input data-id="Gender_name:input" type="hidden" name="cf_text_name--1" value="gender">
                        <input data-id="Gender_label:input" type="hidden" name="cf_text_label--1" value="Gender">
                    </div>

                    <div class="form-group" data-id="Age Group:p">
                        <label data-id="Age Group:label" data-name="cf_text_value--0" class="ctct-form-required"></label>
                        <input id="{{ signupId }}_custom_age_value" class="hide form-control smallLabel fontPrimary" data-id="Age Group_value:input" name="cf_text_value--0" type="text" value="" maxlength="10" placeholder="Age Group">
                        <select id="{{ signupId }}_custom_age" class="form-control smallLabel fontPrimary registerCustom">
                            <option>Age Group</option>
                            <option value="1">High School</option>
                            <option value="2">College</option>
                            <option value="3">Under 30</option>
                            <option value="4">30-40</option>
                            <option value="5">40-50</option>
                            <option value="6">50-60</option>
                            <option value="7">60+</option>
                        </select>
                        <input data-id="Age Group_name:input" type="hidden" name="cf_text_name--0" value="age_group">
                        <input data-id="Age Group_label:input" type="hidden" name="cf_text_label--0" value="Age Group">
                    </div>

                    <div class="signupAction">
                        <button type="submit" class="fontPrimary bold btn positionAnchor" data-enabled="enabled">
                            <span class="btnGradient"></span>
                            <span class="btnText" data-trackCategory="CTA" data-trackLabel="signup" data-trackValue="beta">Sign Up</span>
                        </button>
                    </div>

                    <p class="disclaimer">By submitting this form, you are granting: Launch Social Inc., 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, permission to email you. You may unsubscribe via the link found at the bottom of every email.</p>
                </form>
                <div id="{{ signupId }}_success_message" class="success_message hide">
                    <h2 class="success_message_thanks">Thanks</h2>
                    <div class="success_message_details note fontSecondary">You rock! We'll let you know when the app is ready.</div>
                    <div class="success_message_sharing">
                        {{ block('shareButtons') }}
                    </div>
                </div>
            </div>
        </div>

    {% endblock betaSignup %}

{% endblock popup %}






