{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitetheorytemplatecustom/js/landing.js') }}"></script>
{% endblock script %}


{% block appClass %}landingFull{% endblock appClass %}

{% block bodyAttributes %}
    {{ parent() }}
    data-spy="scroll" data-target="#navMainContainer" data-offset="100"
{% endblock bodyAttributes %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{% block pageTitle %}
{% endblock pageTitle %}

{# Hide sidebar on desktop #}
{% set bootstrapColumnSidebar = 'visible-xs visible-sm' %}

{# Sidebar is hidden on desktop so main column is full width #}
{% set bootstrapColumnMain = 'noGridSettings' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide Sidebar Navigation until it's dynamic and necessary #}
{% block navSection %}
{% endblock navSection %}

{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{# Put Beta Signup in Sidebar #}
{% block sidebarExtrasTop %}
    {% block betaButton %}
        <div id="betaSignupBtn" class="btn"  data-plugin="AddClass Dim" data-class="active" data-target="#betaSignup" data-event="click" data-trackCategory="CTA" data-trackLabel="beta" data-trackValue="top">
            Beta Signup
        </div>
    {% endblock betaButton %}

    <div class="borderDashed">
    {% block mainNavigation %}
        <div id="navMainContainer" class="navMainContainer">
            <ul class="nav list-inline fontPrimary">
                <li class="navMainLink">
                    <a href="#tier2">
                        <div class="linkOrnament"></div>
                        <div class="linkUnderline"></div>
                        Status Quo
                    </a>
                </li>
                <li class="navMainLink">
                    <a href="#tier3">
                        <div class="linkOrnament"></div>
                        <div class="linkUnderline"></div>
                        Something Different
                    </a>
                </li>
                <li class="navMainLink">
                    <a href="#tier5">
                        <div class="linkOrnament"></div>
                        <div class="linkUnderline"></div>
                        App
                    </a>
                </li>
                <li class="navMainLink">
                    <a href="#tier6">
                        <div class="linkOrnament"></div>
                        <div class="linkUnderline"></div>
                        Benefits
                    </a>
                </li>
                <li class="navMainLink">
                    <a href="#tier7">
                        <div class="linkOrnament"></div>
                        <div class="linkUnderline"></div>
                        Help Us!
                    </a>
                </li>
            </ul>
        </div>
    {% endblock mainNavigation %}
    </div>

{% endblock sidebarExtrasTop %}


{# Hide footer site map #}
{% block footerSiteMap %}
{% endblock footerSiteMap %}

{# Hide footer #}
{% block viewFooter %}
{% endblock viewFooter %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set headerStructure = 'emptyAll' %}
{% set shellContentStructure = 'emptyAll' %}




{% block header1 %}
    <div id="header1" class="clearfix">
        <div class="clearfix">
            {{ block('betaButton') }}
            <div id="logoHeader" class="pull-left">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoHeader.png') }}" alt="">
            </div>
            {{ block('mainNavigation') }}
        </div>
    </div>
{% endblock header1 %}

{% block content %}

    {# TIER 1 VIDEO #}
    <div id="tier1" class="landingTier siteMaxWidth siteSidePadding shellVerticalPadding">
        <div class="clearfix">
                <div id="tier1Left" class="pull-left">
                    <h1>The Cure for Dating Apps</h1>
                    <div class="borderDashed">
                        <p class="fontPrimary">Launch is an app for everyone disappointed with the current dating experience (personally or on behalf of friends). We’ve been on a listening mission, using people’s stories to build something entirely new.</p>
                    </div>
                </div>
                <div id="tier1Right" class="pull-left">
                    <div id="tier1video">
                        <iframe width="700" height="394" src="https://www.youtube.com/embed/R7lmJvOFEIM?rel=0&amp;showinfo=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="borderDashed clearfix">
                        <div id="tier1action" class="pull-right">
                            {#<a class="btn" href="">Kickstarter Campaign</a>#}
                            <div class="btn" data-plugin="AddClass Dim" data-class="active" data-target="#kickstarterSignup" data-event="click" data-trackCategory="CTA" data-trackLabel="kickstarter" data-trackValue="top">Kickstarter Campaign</div>
                        </div>
                        <p class="fontPrimary bodyLarge"><span class="optionalText">Help us build it!</span><span class="note">(one-click signup)</span></p>
                    </div>
                </div>
        </div>
    </div>

    {# TIER 2 BROKEN STATUS QUO #}
    <div id="tier2" class="landingTier">
        <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
            <h1>A Broken <br class="visible-xs">Status Quo</h1>
            <div class="borderDashedLight">
                <p class="fontPrimary bodyLarge">There are thousands of online dating services. Yet 80% of single Americans won’t get a date through any of them … over an entire year!<br><br>

                    Those apps were built to make life easier for people who already like online dating. We’re building something for everyone else. </p>
            </div>
        </div>
    </div>

    {# TIER 3 BS #}
    <div id="tier3" class="landingTier backgroundDark fontPrimary">
        <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
            <h3>Most of us are done with</h3>
            <h1>THE BS</h1>
            <div class="row">
                <div class="col-xs-6 clearfix">
                    <div class="badAppImage pull-left">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch1.png') }}" alt="">
                    </div>
                    <p class="pull-left">Dishonest Profiles</p>
                </div>
                <div class="col-xs-6 rightCol clearfix">
                    <div class="badAppImage pull-right">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch4.png') }}" alt="">
                    </div>
                    <p class="pull-right">Lazy &amp; Aggressive Messaging</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 clearfix">
                    <div class="borderDashed">
                        <div class="badAppImage pull-left">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch2.png') }}" alt="">
                        </div>
                        <p class="pull-left">Creeps &amp; Players</p>
                    </div>
                </div>
                <div class="col-xs-6 rightCol clearfix">
                    <div class="borderDashed">
                        <div class="badAppImage pull-right">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch5.png') }}" alt="">
                        </div>
                        <p class="pull-right">Bots/Fake Users</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 clearfix">
                    <div class="borderDashed">
                        <div class="badAppImage pull-left">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch3.png') }}" alt="">
                        </div>
                        <p class="pull-left">Shallow Matches</p>
                    </div>
                </div>
                <div class="col-xs-6 rightCol clearfix">
                    <div class="borderDashed">
                        <div class="badAppImage pull-right">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/badMatch6.png') }}" alt="">
                        </div>
                        <p class="pull-right">Interaction Anxiety</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TIER 4 COMPLETELY DIFFERENT #}
    <div id="tier4" class="landingTier fontPrimary">
        <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
            <h3>Let's Build Something</h3>
            <h1>COMPLETELY DIFFERENT</h1>
            <p id="tier4intro" class="bodyLarge">Online dating made it easier for relationship-seekers to connect, but only from a lonely, anonymous space &mdash; which encourages really bad behavior.<br><br>

                We have a simple formula to change that:
            </p>
            <h3 id="formula" class="borderDashed">
                <div class="borderDashed bottom">Make dating social again</div>
            </h3>
        </div>

        <div id="tier4chart">
            <div class="midline"></div>
            <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
                <div id="tier4logo">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/tier4logo.png') }}" alt="">
                </div>

                <div class="clearfix">
                    <div class="chartCol left">
                        <div id="chartItemOne" class="chartContent">
                            <div class="chartIcon">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/tier4spacemen1.png') }}" alt="">
                            </div>
                            <h3>Friend Verification"</h3>
                            <p>Friends vouch for you, adding fun and interesting insights to your profile.</p>
                        </div>
                    </div>
                    <div class="chartCol right">
                        <div class="chartContent">
                            <div class="chartIcon">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/tier4spacemen2.png') }}" alt="">
                            </div>
                            <h3>Fun &amp; R.E.S.P.E.C.T.</h3>
                            <p>By making sure all your matches are legit and accountable to their friends for their online and offline behavior, we’re creating a community you’ll actually enjoy.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="chartCol left">
                        <div class="chartContent">
                            <div class="chartIcon">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/tier4spacemen3.png') }}" alt="">
                            </div>
                            <h3>Crowdsourced Intuition"</h3>
                            <p>Your friends (including non-singles) use their intuition and experience to suggest great matches for your review.</p>
                        </div>
                    </div>
                    <div class="chartCol right">
                        <div class="chartContent">
                            <div class="chartIcon">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/tier4spacemen4.png') }}" alt="">
                            </div>
                            <h3>Socialness<br>(no that’s not a word)</h3>
                            <p>We let you share your experience with your friends to get advice, laugh it off, or dance with excitement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
            <p id="tier4summary" class="bodyLarge">If you love the hit-and-run hookup culture, you won’t find it here. Only good people, lowkey meetups, playful interactions, and sparks flying everywhere. </p>
        </div>
    </div>

    {# TIER 5 APP SNEAK PEEK #}

    <div id="tier5" class="landingTier">
        <div class="siteMaxWidth siteSidePadding">
            <h1>App Sneak Peek</h1>
        </div>
        <div id="tier5background">
            <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
                <p>Instructions here for using embedded Invision screenshots</p>
                <img style="width:100%;" src="{{ asset('bundles/sitetheorytemplatecustom/images/tempApp.jpg') }}" alt="">
            </div>
        </div>
    </div>

    {# TIER 6 BENEFITS #}
    <div id="tier6" class="landingTier">
        <div id="tier6background">
            <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
                <h1>Benefits</h1>
                <div id="tier6content" class="fontPrimary">
                    <div class="row">
                        <div class="col-sm-5 leftCol">
                            <div id="benefitOne" class="benefitItem">
                                <h3>Honest &amp; Interesting Profiles </h3>
                                <p>Every profile is verified by friends, and improved as you and your friends respond to fun micro-questions that collect over time. Fewer lies. Less stress. More originality.</p>
                            </div>
                            <div id="benefitTwo" class="benefitItem">
                                <h3>Quality Matches</h3>
                                <p>The best technology can’t create love. But it can help. We use our special AI to learn who you really are and what you really want. We then turn the matches over to you and your friends to apply human intuition.</p>
                            </div>
                            <div id="benefitThree" class="benefitItem">
                                <h3>Gradual Reveals</h3>
                                <p>Many great relationships would never have passed the two-second swipe test. Chemistry is important, but can’t be confirmed by a picture alone. To encourage slower judgment, we blur every match photo at first. To reveal it, you’ll have to go through a few quick ice-breakers.</p>
                            </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-2 rightCol">
                            <div id="benefitFour" class="benefitItem">
                                <h3>Better Members</h3>
                                <p>Players, creeps, and cheaters won’t be as attracted to a community that requires close friends to vouch for them. </p>
                            </div>
                            <div id="benefitFive" class="benefitItem">
                                <h3>Enjoyable Messaging</h3>
                                <p>Choose from great chat prompts to unlock creativity and discover hidden gems of personality. We make it painless to block (and educate) anyone who isn’t being respectful. </p>
                            </div>
                            <div id="benefitSix" class="benefitItem">
                                <h3>Natural Low-Key Encounters</h3>
                                <p>We encourage users to treat the first meetup like a “pre-date”. No more than 45 minutes. Just one coffee or drink. No fancy preparation. First impressions like we make them in day-to-day life, free from anxiety and expectations. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TIER 7 CTA #}
    <div id="tier7" class="landingTier">
        <div class="siteMaxWidth siteSidePadding shellVerticalPadding">
            <h1>Help Create the Future</h1>
            <p class="fontPrimary bodyLarge">We can't do this without you.</p>
            <div id="tier7content">
                <div class="borderDashedVertical"></div>
                <div class="row borderDashed">
                    <div class="col-sm-5 leftCol">
                        <div id="helpOne" class="helpItem">
                            <img id="iconKickstarter" src="{{ asset('bundles/sitetheorytemplatecustom/images/tier7iconKickstarter.png') }}" alt="">
                            <h2>Kickstarter!</h2>
                            <h4>(One-click signup)</h4>
                            <p class="fontPrimary">Love the idea? Give feedback and as little as $1. We’re a small team trying to create something thoughtful and beautiful. But we can only succeed with a strong community behind us. Become a founding member and get amazing forever-rewards!  </p>
                            {# <a class="btn" href="">I Want to Help</a> #}
                            <div class="btn" data-plugin="AddClass Dim" data-class="active" data-target="#kickstarterSignup" data-event="click" data-trackCategory="CTA" data-trackLabel="kickstarter" data-trackValue="footer">I Want to Help</div>
                            <br class="visible-xs">
                            <br class="visible-xs">
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 rightCol">
                        <div class="borderDashed visible-xs">&nbsp;</div>
                        <div id="helpTwo" class="helpItem">
                            <img id="iconBeta" src="{{ asset('bundles/sitetheorytemplatecustom/images/tier7iconBeta.png') }}" alt="">
                            <h2>Sign up for Beta</h2>
                            <p class="fontPrimary">Not interested in shaping the service? No problem! We’ll let you know when the app is ready. All we need is your email, gender and age group (5 seconds, 100% privacy).</p>
                            <div class="btn" data-plugin="AddClass Dim" data-class="active" data-target="#betaSignup" data-event="click" data-trackCategory="CTA" data-trackLabel="beta" data-trackValue="footer">Sign Me Up</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TIER 8 CONTACT #}
    <div id="tier8" class="backgroundDark landingTier">
        <div id="tier8background">
            <div class="siteMaxWidth siteSidePadding shellVerticalPadding">

                <p class="fontPrimary bodyLarge">Have questions? Please use the <a href="">contact form</a> on our Kickstarter page. For press inquiries, <a href="mailto:jeremy@launchapp.io">jeremy@launchapp.io</a>. To discuss investing, <a href="mailto:chad@launchapp.io">chad@launchapp.io</a>.</p>
            </div>
        </div>
    </div>

    <div id="footer" class="clearfix fontPrimary">
        <div class="siteMaxWidth siteSidePadding">
            <div class="footerPhone pull-right">
                {{ block('sitePhone') }}
            </div>
            <div class="footerEmail">
                {{ block('siteEmail') }}
            </div>
        </div>
    </div>

{% endblock content %}





{% block popup %}
    {% block betaSignup %}
        <div id="betaSignup" class="signupPopup">
            <div id="betaSignupContent" class="signupPopupContent springIn borderRadiusDefault">
                <div id="betaSignupClose" class="signupPopupClose btnClose" data-plugin="AddClass Dim" data-class="active" data-target="#betaSignup" data-event="click">
                    <span class="sr-only">Close</span>
                        {% embed '@SitetheoryTemplatePromoBundle/Resources/public/images/icons/close.svg'%}{%  block id  %}iconClose{% endblock %}{% endembed %}

                </div>

                <div id="success_message" style="display:none;">
                    <h2>Thanks</h2>
                    <div class="note fontSecondary">You rock! We'll let you know when the app is ready.</div>
                </div>
                <form data-id="embedded_signup:form" class="form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                    <div class="logo">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoMark.png') }}" alt="">
                    </div>
                    <h2 class="betaTitle">Beta Signup</h2>
                    <p class="note fontBody">Be among the first to join and help us create an awesome community.</p>
                    <!-- The following code must be included to ensure your sign-up form works properly. -->
                    <input data-id="ca:input" type="hidden" name="ca" value="a84d2d17-dca3-4f96-b76c-459018f0b788">
                    <input data-id="list:input" type="hidden" name="list" value="1924932799">
                    <input data-id="source:input" type="hidden" name="source" value="EFD">
                    <input data-id="required:input" type="hidden" name="required" value="list,email">
                    <input data-id="url:input" type="hidden" name="url" value="">
                    <div class="form-group" data-id="Email Address:p">
                        <input class="form-control smallLabel fontPrimary" data-id="Email Address:input" type="text" name="email" value="" maxlength="80" placeholder="Email Address">
                    </div>
                    <div class="signupAction">
                        <button type="submit" class="fontPrimary bold btn positionAnchor" data-enabled="enabled">
                            <span class="btnGradient"></span>
                            <span class="btnText">Sign Up</span>
                        </button>
                    </div>

                    <p class="disclaimer">By submitting this form, you are granting: Launch Social Inc., 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, permission to email you. You may unsubscribe via the link found at the bottom of every email.</p>
                </form>
            </div>
            <script type='text/javascript'>
                var localizedErrMap = {};
                localizedErrMap['required'] = 		'This field is required.';
                localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
                localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
                localizedErrMap['generic'] = 		'This field is invalid.';
                localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
                var postURL = 'https://visitor2.constantcontact.com/api/signup';
            </script>
            <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
        </div>

    {% endblock betaSignup %}

    {% block kickstarterSignup %}
        <div id="kickstarterSignup" class="signupPopup">
            <div id="betaSignupContent" class="signupPopupContent springIn borderRadiusDefault ctct-embed-signup">
                <div id="betaSignupClose" class="signupPopupClose btnClose" data-plugin="AddClass Dim" data-class="active" data-target="#kickstarterSignup" data-event="click">
                    <span class="sr-only">Close</span>
                    {% embed '@SitetheoryTemplatePromoBundle/Resources/public/images/icons/close.svg'%}{%  block id  %}iconClose{% endblock %}{% endembed %}
                </div>
{#
                <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                    <h2 style="margin:0;">Sign up to stay in touch!</h2>
                    <p>Sign up to get interesting news and updates delivered to your inbox.</p>
                    <!-- The following code must be included to ensure your sign-up form works properly. -->
                    <input data-id="ca:input" type="hidden" name="ca" value="75e365d6-bf57-46fa-9ecd-654aa7c55c36">
                    <input data-id="list:input" type="hidden" name="list" value="1387719498">
                    <input data-id="source:input" type="hidden" name="source" value="EFD">
                    <input data-id="required:input" type="hidden" name="required" value="list,cf_text--0,cf_text--1,cf_text--2,cf_text--3,email">
                    <input data-id="url:input" type="hidden" name="url" value="">
                    <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label> <input data-id="Email Address:input" type="text" name="email" value="" maxlength="80"></p>
                    <p data-id="Age Group:p"><label data-id="Age Group:label" data-name="cf_text_value--0" class="ctct-form-required">Age Group</label><input data-id="Age Group_value:input" type="text" name="cf_text_value--0" value=""></p><input data-id="Age Group_name:input" type="hidden" name="cf_text_name--0" value="age_group"><input data-id="Age Group_label:input" type="hidden" name="cf_text_label--0" value="Age Group"><p data-id="Gender:p"><label data-id="Gender:label" data-name="cf_text_value--1" class="ctct-form-required">Gender</label><input data-id="Gender_value:input" type="text" name="cf_text_value--1" value=""></p><input data-id="Gender_name:input" type="hidden" name="cf_text_name--1" value="gender"><input data-id="Gender_label:input" type="hidden" name="cf_text_label--1" value="Gender"><p data-id="Relationship Status:p"><label data-id="Relationship Status:label" data-name="cf_text_value--2" class="ctct-form-required">Relationship Status</label><input data-id="Relationship Status_value:input" type="text" name="cf_text_value--2" value=""></p><input data-id="Relationship Status_name:input" type="hidden" name="cf_text_name--2" value="relationship_status"><input data-id="Relationship Status_label:input" type="hidden" name="cf_text_label--2" value="Relationship Status"><p data-id="Zip:p"><label data-id="Zip:label" data-name="cf_text_value--3" class="ctct-form-required">Zip</label><input data-id="Zip_value:input" type="text" name="cf_text_value--3" value=""></p><input data-id="Zip_name:input" type="hidden" name="cf_text_name--3" value="zip"><input data-id="Zip_label:input" type="hidden" name="cf_text_label--3" value="Zip">
                    <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
                    <div><p class="ctct-form-footer">By submitting this form, you are granting: Gutensite, 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, http://www.gutensite.com permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
                </form>
                <div id="success_message_custom">
                    <div class="success_message_thanks">Thanks</div>
                    <div class="success_message_details note fontSecondary">You rock! We'll let you know when the app is ready.</div>
                </div>
                <script type='text/javascript'>
                    var localizedErrMap = {};
                    localizedErrMap['required'] = 		'This field is required.';
                    localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
                    localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
                    localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
                    localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
                    localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
                    localizedErrMap['list'] = 			'Please select at least one email list.';
                    localizedErrMap['generic'] = 		'This field is invalid.';
                    localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
                    localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
                    localizedErrMap['state_province'] = 'Select a state/province';
                    localizedErrMap['selectcountry'] = 	'Select a country';
                    var postURL = 'https://visitor2.constantcontact.com/api/signup';
                </script>
                <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
                <!--End CTCT Sign-Up Form-->
#}


                <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                    <div class="logo">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoMark.png') }}" alt="">
                    </div>
                    <h2 class="betaTitle">Kickstarter Notify</h2>
                    <p class="note fontBody">Our Kickstarter campaign isn't quite ready yet. But we really need your support when it is. Please enter your info, and we'll notify you ASAP!</p>
                    <!-- The following code must be included to ensure your sign-up form works properly. -->
                    <input data-id="ca:input" type="hidden" name="ca" value="75e365d6-bf57-46fa-9ecd-654aa7c55c36">
                    <input data-id="list:input" type="hidden" name="list" value="1387719498">
                    <input data-id="source:input" type="hidden" name="source" value="EFD">
                    <input data-id="required:input" type="hidden" name="required" value="list,email">
                    <input data-id="required:input" type="hidden" name="required" value="list,email,cf_text--3,cf_text--1,cf_text--2">
                    <input data-id="url:input" type="hidden" name="url" value="">

                    <div class="form-group" data-id="Email Address:p">
                        <label data-id="Email Address:label" data-name="email" class="ctct-form-required"></label>
                        <input class="form-control smallLabel fontPrimary required" data-id="Email Address:input" type="text" name="email" value="" maxlength="80" placeholder="Email Address">
                    </div>

                    <div class="form-group" data-id="Zip:p">
                        <label data-id="Zip:label" data-name="cf_text_value--3" class="ctct-form-required"></label>
                        <input id="registerZip" class="form-control smallLabel fontPrimary required" data-id="Zip_value:input" type="text" name="cf_text_value--3" value="" maxlength="10" placeholder="Postal Code" data-ip="{{ environment.request.server.get('HTTP_X_REAL_IP') }}">
                        <input data-id="Zip_name:input" type="hidden" name="cf_text_name--3" value="zip">
                        <input data-id="Zip_label:input" type="hidden" name="cf_text_label--3" value="Zip">
                    </div>

                    <div class="form-group" data-id="Gender:p">
                        <label data-id="Gender:label" data-name="cf_text_value--1" class="ctct-form-required"></label>
                        <input id="custom_gender_value" class="hide form-control smallLabel fontPrimary required" data-id="Gender_value:input" name="cf_text_value--1" type="text" value="" maxlength="10" placeholder="Gender">
                        <select id="custom_gender" class="form-control smallLabel fontPrimary required registerCustom">
                            <option>Gender</option>
                            <option value="1">Female</option>
                            <option value="2">Male</option>
                            <option value="0">Unlisted</option>
                        </select>
                        <input data-id="Gender_name:input" type="hidden" name="cf_text_name--1" value="gender">
                        <input data-id="Gender_label:input" type="hidden" name="cf_text_label--1" value="Gender">
                    </div>

                    <div class="form-group" data-id="Relationship Status:p">
                        <label data-id="Relationship Status:label" data-name="cf_text_value--2" class="ctct-form-required"></label>
                        <input id="custom_status_value" class="hide form-control smallLabel fontPrimary required" data-id="Relationship Status_value:input" name="cf_text_value--2" type="text" value="" maxlength="10" placeholder="Relationship Status">
                        <select  id="custom_status" class="form-control smallLabel fontPrimary required registerCustom">
                            <option>Status</option>
                            <option value="1">Single</option>
                            <option value="2">Taken (matchmaker)</option>
                            <option value="3">Married (matchmaker)</option>
                        </select>
                        <input data-id="Relationship Status_name:input" type="hidden" name="cf_text_name--2" value="relationship_status">
                        <input data-id="Relationship Status_label:input" type="hidden" name="cf_text_label--2" value="Relationship Status">
                    </div>

                    <div class="form-group" data-id="Age Group:p">
                        <label data-id="Age Group:label" data-name="cf_text_value--0" class="ctct-form-required"></label>
                        <input id="custom_age_value" class="hide form-control smallLabel fontPrimary" data-id="Age Group_value:input" name="cf_text_value--0" type="text" value="" maxlength="10" placeholder="Age Group">
                        <select id="custom_age" class="form-control smallLabel fontPrimary registerCustom">
                            <option>Age Group</option>
                            <option value="1">18-30</option>
                            <option value="2">30-40</option>
                            <option value="3">40-50</option>
                            <option value="4">50-60</option>
                            <option value="5">60+</option>
                        </select>
                        <input data-id="Age Group_name:input" type="hidden" name="cf_text_name--0" value="age_group">
                        <input data-id="Age Group_label:input" type="hidden" name="cf_text_label--0" value="Age Group">
                    </div>

                    <div class="signupAction">
                        <button type="submit" class="fontPrimary bold btn positionAnchor" data-enabled="enabled">
                            <span class="btnGradient"></span>
                            <span class="btnText">Sign Up</span>
                        </button>
                    </div>

                    <p class="disclaimer">By submitting this form, you are granting: Launch Social Inc., 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, permission to email you. You may unsubscribe via the link found at the bottom of every email.</p>
                </form>
                <div id="success_message_custom">
                    <div class="success_message_thanks">Thanks</div>
                    <div class="success_message_details note fontSecondary">You rock! We'll let you know when the app is ready.</div>
                </div>
                <script type='text/javascript'>
                    var localizedErrMap = {};
                    localizedErrMap['required'] = 		'This field is required.';
                    localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
                    localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
                    //localizedErrMap['cf_text--0'] = 			'Please enter your age group.';
                    localizedErrMap['cf_text--1'] = 	'Please enter the gender you identify as.';
                    localizedErrMap['cf_text--2'] = 			'Please enter your relationship status as: single, taken, or married';
                    localizedErrMap['cf_text--3'] = 	'Please enter your postal code.';

                    localizedErrMap['generic'] = 		'This field is invalid.';
                    localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
                    var postURL = 'https://visitor2.constantcontact.com/api/signup';
                </script>
                <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>





            </div>
        </div>

    {% endblock kickstarterSignup %}
{% endblock popup %}

{#
<!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Thu Oct 13 18:50:44 EDT 2016] -->
<link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
    <div style="color:#5b5b5b; background-color:#e8e8e8; border-radius:5px;">
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
        <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
            <h2 style="margin:0;">Sign up to stay in touch!</h2>
            <p>Sign up to get interesting news and updates delivered to your inbox.</p>
            <!-- The following code must be included to ensure your sign-up form works properly. -->
            <input data-id="ca:input" type="hidden" name="ca" value="75e365d6-bf57-46fa-9ecd-654aa7c55c36">
            <input data-id="list:input" type="hidden" name="list" value="1387719498">
            <input data-id="source:input" type="hidden" name="source" value="EFD">
            <input data-id="required:input" type="hidden" name="required" value="list,cf_text--0,cf_text--1,cf_text--2,cf_text--3,email">
            <input data-id="url:input" type="hidden" name="url" value="">

            <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label> <input data-id="Email Address:input" type="text" name="email" value="" maxlength="80"></p>

            <p data-id="First Name:p" ><label data-id="First Name:label" data-name="first_name">First Name</label> <input data-id="First Name:input" type="text" name="first_name" value="" maxlength="50"></p>

            <p data-id="Age Group:p">
                <label data-id="Age Group:label" data-name="cf_text_value--0" class="ctct-form-required">Age Group</label>
                <input data-id="Age Group_value:input" type="text" name="cf_text_value--0" value="">
            </p>
            <input data-id="Age Group_name:input" type="hidden" name="cf_text_name--0" value="age_group">
            <input data-id="Age Group_label:input" type="hidden" name="cf_text_label--0" value="Age Group">

            <p data-id="Gender:p">
                <label data-id="Gender:label" data-name="cf_text_value--1" class="ctct-form-required">Gender</label>
                <input data-id="Gender_value:input" type="text" name="cf_text_value--1" value="">
            </p>
            <input data-id="Gender_name:input" type="hidden" name="cf_text_name--1" value="gender">
            <input data-id="Gender_label:input" type="hidden" name="cf_text_label--1" value="Gender">

            <p data-id="Relationship Status:p">
                <label data-id="Relationship Status:label" data-name="cf_text_value--2" class="ctct-form-required">Relationship Status</label>
                <input data-id="Relationship Status_value:input" type="text" name="cf_text_value--2" value="">
            </p>
            <input data-id="Relationship Status_name:input" type="hidden" name="cf_text_name--2" value="relationship_status">
            <input data-id="Relationship Status_label:input" type="hidden" name="cf_text_label--2" value="Relationship Status">

            <p data-id="Zip:p">
                <label data-id="Zip:label" data-name="cf_text_value--3" class="ctct-form-required">Zip</label>
                <input data-id="Zip_value:input" type="text" name="cf_text_value--3" value="">
            </p>
            <input data-id="Zip_name:input" type="hidden" name="cf_text_name--3" value="zip">
            <input data-id="Zip_label:input" type="hidden" name="cf_text_label--3" value="Zip">

            <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
            <div><p class="ctct-form-footer">By submitting this form, you are granting: Gutensite, 1330 N Broadway, Ste 200H, Walnut Creek, California, 94596, United States, http://www.gutensite.com permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
        </form>
    </div>
</div>
<script type='text/javascript'>
    var localizedErrMap = {};
    localizedErrMap['required'] = 		'This field is required.';
    localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
    localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
    localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
    localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
    localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
    localizedErrMap['list'] = 			'Please select at least one email list.';
    localizedErrMap['generic'] = 		'This field is invalid.';
    localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
    localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
    localizedErrMap['state_province'] = 'Select a state/province';
    localizedErrMap['selectcountry'] = 	'Select a country';
    var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
<!--End CTCT Sign-Up Form-->
#}