{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}

{% block appClass %}
landingFull
{% endblock appClass %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{% block pageTitle %}
{% endblock pageTitle %}

{# Hide sidebar on desktop #}
{% set bootstrapColumnSidebar = 'visible-xs visible-sm' %}

{# Sidebar is hidden on desktop so main column is full width #}
{% set bootstrapColumnMain = 'noGridSettings' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide footer site map #}
{% block footerSiteMap %}
{% endblock footerSiteMap %}

{# Hide footer #}
{% block viewFooter %}
{% endblock viewFooter %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set headerStructure = 'emptyAll' %}
{% set shellContentStructure = 'emptyAll' %}


{% block header1 %}
    <div id="header1" class="clearfix">
        <div class="clearfix">
            <div id="logoHeader" class="pull-left">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/launchLogoHeader.png') }}" alt="">
            </div>
            <div id="mainNavigationHeader" class="siteNavigation">
                <ul class="list-inline fontPrimary">
                    <li><a class="mainNavLink" href="">Not Working</a></li>
                    <li><a class="mainNavLink" href="">This is Different</a></li>
                    <li><a class="mainNavLink" href="">The App</a></li>
                    <li><a class="mainNavLink" href="">Benefits</a></li>
                    <li><a class="mainNavLink" href="">Your Role</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock header1 %}

{% block content %}

    <div id="tier1" class="siteMaxWidth siteSidePadding shellVerticalPadding">
        <div class="clearfix">
                <div id="tier1Left" class="pull-left">
                    <h1>The Cure for Dating Apps</h1>
                    <div class="siteBorder">
                        <p class="fontPrimary">Launch is an app for all of us who hate the current dating experience. Launch combines the best of new technology, psychometrics and gamification with old-fashioned intuition and the social accountability of friendships. When you play along with your closest friends, magical things happen!</p>
                    </div>
                </div>
                <div id="tier1Right" class="pull-left">
                    <div id="tier1video">
                        <img style="width:100%;" src="{{ asset('bundles/sitetheorytemplatecustom/images/tempVideo.jpg') }}" alt="">
                    </div>
                </div>
        </div>
    </div>

{% endblock content %}