{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplategrayling/css/site.css') }}">
{% endblock link %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}


{# Assign unique class to hide regular page title when header image exists and page title occurs inside headerImageContainer #}
{% block pageTitle %}
    <h1>It WORKS!</h1>
{% endblock pageTitle %}



{% block body %}
        {# the appClass allows us to add a class to the whole page, from any extending template, to target CSS in creative ways #}
<div id="app" class="{% block appClass %}{% endblock appClass %}{{ mobileDrawerDirection|default('') }} {{ streamClass|default('noStreamClass') }}{% if view.viewVersion.settings.disableImage is empty %} headerImageTrue{% endif %}">

    <!-- Main -->
    {% block main %}

        <div id="siteBackground">
            <div class="hexBolt one"></div>
            <div class="hexBolt two"></div>
            <div class="hexBolt three"></div>
            <div class="hexBolt four"></div>

            <div id="starsTopLeft">

            </div>

            <div id="landingContent">
                <div id="logoMark">
                    <img src="{{ asset('bundles/sitetheorytemplategrayling/images/launchLogoMark.png') }}" alt="">
                </div>
                <div id="logoText">
                    <img src="{{ asset('bundles/sitetheorytemplategrayling/images/launchLogoText.png') }}" alt="">
                </div>
                <p class="intro fontPrimary">It's time for for friends to be involved in match-making. We're on it.</p>
                <div class="actionButton fontPrimary">
                    <a href="mailto:spacemenaresexy@launchapp.io">
                        <div class="actionButtonHoverMask left">
                            <div class="actionButtonHover left"></div>
                        </div>
                        <div class="actionButtonHoverMask right">
                            <div class="actionButtonHover right"></div>
                        </div>
                        spacemenaresexy@launchapp.io
                    </a>
                </div>
            </div>
        </div>


        <!-- Content -->
        {% block content %}
            <div id="content">


            </div>
        {% endblock content %}
        <!-- End Content -->


    {% endblock main %}

</div>

{% endblock body %}
